.page-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 32px 0;
}
.page-page{
    padding: 10rem 5rem;
    font-size: 48px;
    font-weight: bold;
    
}

.page-address{
    font-size: 32px;
    line-height: 1.6px;
    margin-top: -4rem;
    margin-left: 5rem;
}

.page-mainlink {
    margin-top: 3rem;
    margin-left: 5rem;
    font-size: 32px;
    line-height: 16px;
    color: red;
    cursor: pointer;
    text-decoration-line: underline;
}
