.page-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 32px 0;
}
.page-page{
    margin-top: 64px;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 100px;
}

.page-address{
    font-size: 32px;
    line-height: 1.6px;
}

.page-mainlink {
    margin-top: 50px;
    font-size: 32px;
    line-height: 16px;
    color: red;
    cursor: pointer;
    text-decoration-line: underline;
}
